{%extends 'base.html'%}
{% block content %}
<h1>My CSV Files</h1>

<a class="nav-link" href="{%url 'ml_core:create-csv'%}">Create csv</a>

<div class="row">
  {% for csv in csv_list %}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100 text-center">
          <div class="card-header h-100">
            <h5 class="card-title text-align">{{csv.name}}</h5>
            <form method="post" action="{% url 'ml_core:delete-csv' pk=csv.id %}">
              {%csrf_token%}
              <input type="submit" class="btn btn-danger"value="Delete">
            </form>
          </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
