{%extends 'base.html'%}
{% block content %}

<style>
  h1{margin-top:5%;text-align:center;}
  .create{text-align: center;
    font-size: 20px;
    margin-bottom: 2%;}
  table{margin-left:25%;}
  </style>

<h1>My Instances</h1>

<a class="nav-link create" href="{%url 'ml_core:create-instance'%}">Create Instance</a>

<div class="row">
  {% for instance in instance_list %}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100 text-center">
          <div class="card-header h-100">
            <h5 class="card-title text-align">{{instance.name}}</h5>
            <h5 class="card-title text-align">{{instance.public_ip}}</h5>
            <table>
            {%if user == instance.user %}
              <tr>
                <td><a class="btn btn-warning" href="{% url 'ml_core:update-instance' pk=instance.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'ml_core:delete-instance' pk=instance.id %}">Delete</a></td>
              </tr>

            {% endif %}
            </table>
          </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
