{%extends 'base.html'%}
{% block content %}

<style>
  h1{margin-top:5%;text-align:center;}
  .create{text-align: center;
    font-size: 20px;
    margin-bottom: 2%;}
  table{margin-left:25%;}
  h5:nth-child(2){font-size:15px;}
  </style>

<h1>Available Models</h1>

<a class="nav-link create" href="{%url 'ml_core:create-model'%}">Create Model</a>

<div class="row">
  {% for model in models %}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100 text-center">
          <div class="card-header h-100">
            <h5 class="card-title text-align">{{model.name}}</h5>
            <table>
              <tr>
                <td><a class="btn btn-warning" href="{% url 'ml_core:update-model' pk=model.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'ml_core:delete-model' pk=model.id %}">Delete</a></td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
