<!DOCTYPE html>
{% load staticfiles%}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <style>
  a p:hover{:#007bff}
  </style>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a style="font-family:unset; font-size:30px;" class="navbar-brand" href="{% url 'ml_core:list-process' %}"><p>autoML</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav justify-content-end">
          {% if user.is_authenticated %}
          <!--
          <li class="nav-item">
            <a class="nav-link" href="{%url 'accounts:logout'%}">Log Out</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change-password' %}">Change Passwords</a>
          </li>
        -->

          <!--<li class="nav-item">
            <a class="nav-link" href="{% url 'ml_core:create-process' %}">Create Process</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ml_core:list-csv' %}">List csv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ml_core:create-instance' %}">Create Instance</a>
          </li>
          {% else %}
          <!--
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
          </li>
        -->
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false">User</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{%url 'admin:index'%}">Admin</a>
              <a class="dropdown-item" href="{% url 'accounts:change-password' %}" >Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'accounts:login' %}">Log In</a>
              <a class="dropdown-item" href="{%url 'accounts:logout'%}">Log Out</a>
              <a class="dropdown-item" href="{% url 'accounts:signup' %}">Sign Up</a>
            </div>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container content">
      {% block content %}
      {% endblock %}
    </div>



  </body>
</html>
